{{!< main }}

<section class="username-form">
    <h2>Create a Username</h2>
    {{#if regError}}
        <p style="color: red;">{{regError}}</p>
    {{/if}}
    <form action="/registerUsername" method="POST">
        <input type="hidden" name="googleId" value="{{googleId}}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Register</button>
    </form>
</section>